.main-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 100px 0;
}

.main-info-container  .info-text {
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: center;
}

.article-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;

}

.article-1 {
    padding-left: 200px;
}

.article-2 {
    padding-left: 40px;
}
.article-1 .article-2 , img{
    width: 500px;
    height: 250px;
}

.article-description {
    width: 500px;
}